<form [formGroup]="recipeForm" (ngSubmit)="save()">
  <label class="FieldRow">
    Name:
    <input formControlName="name" required />
  </label>
  @if (recipeForm.get('name')?.invalid && recipeForm.get('name')?.touched) {
    <div class="error">Name is required.</div>
  }

  <label class="FieldRow">
    Description:
    <input formControlName="description" required />
  </label>
  @if (recipeForm.get('description')?.invalid && recipeForm.get('description')?.touched) {
    <div class="error">Description is required.</div>
  }

  <label class="FieldRow">
    Author Email:
    <input formControlName="authorEmail" required />
  </label>
  @if (recipeForm.get('authorEmail')?.invalid && recipeForm.get('authorEmail')?.touched) {
    <div class="error">Author email is required.</div>
  }

  <!-- You can add more fields for ingredients, etc. -->

  <label class="FieldRow">
    <h3>Ingredients:</h3>
    @for (ingredient of ingredients; let i = $index; track ingredient.name) {
      <div class="ingredient-field">
        <input
          name="ingredientName{{ i }}"
          [(ngModel)]="ingredients[i].name"
          [ngModelOptions]="{ standalone: true }"
          placeholder="Name"
          required
        />
      </div>
      <div class="ingredient-field">
        <input
          name="ingredientQuantity{{ i }}"
          [(ngModel)]="ingredients[i].quantity"
          [ngModelOptions]="{ standalone: true }"
          placeholder="Quantity"
          required
        />
      </div>
      <div class="ingredient-field">
        <input
          name="ingredientUnit{{ i }}"
          [(ngModel)]="ingredients[i].unit"
          [ngModelOptions]="{ standalone: true }"
          placeholder="Unit"
          required
        />
      </div>
    }
    <button type="button" mat-raised-button color="primary" (click)="addIngredient()">
      Add Ingredient
    </button>
  </label>

  <button type="submit" mat-raised-button color="primary" [disabled]="recipeForm.invalid">
    Add Recipe
  </button>
  @if (success()) {
    Recipe added successfully!
  }
</form>
