<form #recipeForm="ngForm" (ngSubmit)="onSubmit(recipeForm)">
  <label class="FieldRow">
    Name:
    <input name="name" ngModel required />
  </label>
  @if (recipeForm.submitted && recipeForm.controls['name']?.invalid) {
    <div class="error">Name is required.</div>
  }

  <label class="FieldRow">
    Description:
    <input name="description" ngModel required />
  </label>
  @if (recipeForm.submitted && recipeForm.controls['description']?.invalid) {
    <div class="error">Description is required.</div>
  }

  <!-- You can add more fields for ingredients, etc. -->

  <label class="FieldRow">
    <h3>Ingredients:</h3>
    @for (ingredient of ingredients; let i = $index; track ingredient.name) {
      <div class="ingredient-field">
        <input
          name="ingredientName{{ i }}"
          [(ngModel)]="ingredients[i].name"
          placeholder="Name"
          required
        />
        @if (recipeForm.submitted && !ingredients[i].name) {
          <div class="error">Ingredient name is required.</div>
        }
      </div>
      <div class="ingredient-field">
        <input
          name="ingredientQuantity{{ i }}"
          [(ngModel)]="ingredients[i].quantity"
          placeholder="Quantity"
          required
        />
        @if (recipeForm.submitted && !ingredients[i].quantity) {
          <div class="error">Quantity is required.</div>
        }
      </div>
      <div class="ingredient-field">
        <input
          name="ingredientUnit{{ i }}"
          [(ngModel)]="ingredients[i].unit"
          placeholder="Unit"
          required
        />
        @if (recipeForm.submitted && !ingredients[i].unit) {
          <div class="error">Unit is required.</div>
        }
      </div>
    }
    <button type="button" (click)="addIngredient()">Add Ingredient</button>

    <button type="submit">Add Recipe</button>
    <p>
      @if (success()) {
        Recipe added successfully!
      }
    </p>
  </label>
</form>
